.event-card {
    background-color: black;
    padding: 8px 5px;
    margin-bottom: 4px;
    box-shadow: 0 6px 8px rgba(0, 0, 0, 0.3);
    position: relative;
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
}

.padded {
    padding: 0px 3px !important;
}

.date {
    text-align: center;
    border-right: 2px dashed #6e7183;
    color: white;
}
.date h3 span {
    font-size: 15px;
    display: block;
    color: #bbb;
}
.dateSize
{
font-size: 2.3rem;
}
.whiteText {
    color: white;
}

.event-card:hover .whiteText {
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
    color: black;
}
.event-card:hover .date h3 span{
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
    color: black;
}

.event-card:hover{
    background: #d3d3d4;

}

.center{
    text-align: center;
}

.text-right{
    text-align: right;
}

.border-right{
    border-right: 3px solid;
}

.aaa{
    padding-right: 10px;
    display: inline-block;
    position: relative;
}

.your-item span:first-child::after {
    position: absolute;
    content: '|';
    top: 0;
    right: -6px;
    z-index: 1;
    color: #ddd;
    position: relative;
    -webkit-transition: all .6s ease-in;
    -moz-transition: all .6s ease-in;
    -o-transition: all .6s ease-in;
    transition: all .6s ease-in;
}

 .event-card:hover .your-item span:first-child::after {
    color: #000000;
}

