.encule{
    color: white;
}

.bradcumbContent2{
    display: block;
    /* position: absolute; */
    background-color: #bbb;
    width: 60%;
    margin: 0px 20%;
    padding: 10px;
    text-align: center;
    height: 100px;
    /*bottom: 30%; */
    /*left: 50%; */
    /*z-index: 100; */
    /*text-align: center; */
    /*padding-top: 20px; */
    /*padding-bottom: 20px; */
    /*-webkit-transform: translateX(-50%); */
    /*transform: translateX(-50%);*/
}