.modal__Accueuil {
  width: 90%;
  background: #b4b4b4;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  position: fixed;
  top: 20vh;
  left: 5%;
  z-index: 100;
}

@media (min-width: 768px) {
  .modal__Accueuil {
    width: 707px;
    padding: 34px 34px 34px;
    background-color: rgba(63, 63, 63, 0.527);
    left: calc((100% - 640px) / 2);
    top: calc((100% - 75%) / 2);
  }
  .topBarAccueil {
    display: flex;
    flex-direction: row-reverse;
  }
}

@media (max-width: 768px) {
  .modal__Accueuil {
    top: calc((100% - 70%) / 2);
  }
}

.modal__header__Accueuil {
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-gap: 1px;
  /*background: #white;*/
  color: white;
}
.modal__header__Accueuil h1 {
  margin: 0;
  font-size: 2.6rem;
}

.btn__Accueuil {
  font: inherit;
  position: absolute;
  top: 6px;
  right: 7px;
  height: 30px;
  background-color: transparent;
  border: none;
  color: white;
  cursor: pointer;

  /* align-self: center; */
  /* justify-self: end;*/
}

.buttonBlack {
  color: white !important;
  background-color: black !important;
}
.h1Grid {
  grid-column: 10 / 18;
}
.center {
  display: flex;
  place-content: center;
  /* flex-direction: row; */
  align-items: center;
  align-content: flex-start;
  border-bottom: 20px;
}
